// rc-section CSS custom properties for compatibility with Rancher dashboard versions <2.15
// that do not include them in their theme stylesheets
// TODO nb this can be removed once we stop supporting 2.14
BODY, .theme-light {
  --rc-section-background-primary: #FFFFFF;
  --rc-section-background-secondary: #F4F5FA;
  --rc-section-action-color: #6C6C77;
}

BODY, .theme-dark {
  --rc-section-background-primary: #161C24;
  --rc-section-background-secondary: #262831;
  --rc-section-action-color: #B6B6C3;
}

// medium gap spacing for rc section content - to be replaced by some global component and/or style rules in a later Rancher release
.gap-md {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}