name: Test extension build

#
on:
  pull_request:

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  build-extension-charts:
    uses: rancher/dashboard/.github/workflows/build-extensions-test.yaml@reusab-workflow-test
    with:
      disable_exts_build: virtual-clusters-2