name: Test extension build

#
on:
  pull_request:

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  build-extension-charts:
    uses: ./build-extensions-test.yaml
    with:
       disable_exts_build: virtual-clusters-2